html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  background-color: rgb(214, 227, 222);
}

#hi-amber {
  padding: 0 1vw;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-size: 8vw;
}
